<% if @track.errors.any? %>
	<h2>There were errors saving your track</h2>
	<ul>
	<% @track.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
	<% end %>
	</ul>
<% end %>



<%= form_for @track do |f| %>
	<%= f.label :stream_url %>	
	<%= f.text_field :stream_url %><br />
	<%= f.submit %>
<% end %>
