<%= javascript_include_tag "soundmanager2-dj" %>
<%= javascript_include_tag "page-playerDJ" %>

<script>

/* --------

  Config override: This demo uses shiny flash 9 stuff, overwriting Flash 8-based defaults
  Alternate PP_CONFIG object must be defined before soundManager.onready()/onload() fire.
  Alternately, edit the config in page-player.js to simply use the values below by default

-------- */

// demo only, but you can use these settings too..
soundManager.setup({
  flashVersion: 9,
  preferFlash: false, // for visualization effects
  useHighPerformance: true, // keep flash on screen, boost performance
  wmode: 'transparent', // transparent SWF, if possible
  url: 'swf/'
});

// custom page player configuration

var PP_CONFIG = {
  autoStart: false,      // begin playing first sound when page loads
  playNext: false,        // stop after one sound, or play through list until end
  useThrottling: false,  // try to rate-limit potentially-expensive calls (eg. dragging position around)</span>
  usePeakData: true,     // [Flash 9 only] whether or not to show peak data (left/right channel values)</b> - nor noticable on CPU
  useWaveformData: false,// [Flash 9 only] show raw waveform data</b> - WARNING: LIKELY VERY CPU-HEAVY
  useEQData: false,      // [Flash 9 only] show EQ (frequency spectrum) data
  useFavIcon: false     // try to apply peakData to address bar (Firefox + Opera)</b> - performance note: appears to make Firefox 3 do some temporary, heavy disk access/swapping/garbage collection at first(?)</b> - may be too heavy on CPU
}

</script>


  <center><h5>
    <%= simple_form_for Track.new do |f| %>
     <%= f.text_field :original_url, :placeholder => 'Enter a SoundCloud URL' %>
    <% end %>
        <% if flash[:notice] == nil %>
          <%= nil %>
        <% else %>
          <BR>
          <b><%= flash[:notice] %></b>
        <% end %>
  </center></h5>


 <ul class="playlist">
 	<% @tracks.each do |track| %>
    	<li><a class="sm2_link" type="audio/mp3" href="<%= track.stream_url %>">
    			<b><%= track.artist_name %></b> - <%= track.title %></a>


		</li>
	<% end %>
</ul>