<br />
	<center>
<h1>TRACKS</h1>

<%= form_tag "/", method: "GET" do %>
	<%= text_field_tag :q, params[:q] %>
	<%= submit_tag "Search" %>
<% end %>

<h2>
<table>
	<tr><h3>
		<td><h3>Title</h3></td>
		<td><h3>Stream URL</h3></td>
	</tr>

	<tr>
		<td><h4><%= track.title %></h4></td>
		<td><h4><%= track.download_url %></h4></td>
	</tr>

</table>

</center>
<hr>
<h4><%= link_to "Add Entry", new_track_path(@track) %></h4>

