<%= analytics_init if Rails.env.production? %>

<!DOCTYPE html>
<html>
<head>
  <title>danceparty911</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "navbar", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

<style = "text/css">
.menu_trigger {
  position: fixed;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 6px;
  padding-right: 6px;
  line-height: 10px;
  background-color: #f9f9f9;
  color: #FF33cc;
  border: 5px solid #f9f9f9;
  border-top: 10px solid #f9f9f9;
  border-radius: 5px;
  right: -1px;
  top: 0px;
  z-index: 8 !important;
}
</style>

</head>

<body>

<div class="menu_trigger">
        <h5><a href="#" class="trigger">login <i class="fa fa-chevron-down"></i></a></h5>
</div>


	<div class="navbar message">
		<% if user_signed_in? %>
			<div class="form-group">
				<%= link_to(image_tag("911logo548.gif", size: "175", :class => "navbar-brand"), "/") %>
				<% if current_user.username.nil? %>
					<p class="navbar-text pull-right"><%= link_to current_user.email, edit_user_registration_path, :class => "navbar-link" %>
				<% else %>
					<p class="navbar-text pull-right"><%= link_to current_user.username, edit_user_registration_path, :class => "navbar-link" %>
				<% end %>
				<%= link_to "sign out", destroy_user_session_path, :method => :delete, :class => "navbar-link" %>
        <a href="#" style="color: #FFFFFF" class="hide_trigger"><i class="fa fa-chevron-up"></i></a></p>
</p>	
			</div>
		<% else %>
			<%= simple_form_for(resource, :class => "form-signin", :as => resource_name, :url => session_path(resource_name)) do |f| %>
			<div class="form-group">
				<%= link_to(image_tag("911logo548.gif", size: "175", :class => "navbar-brand"), "/") %>
				<%= f.email_field :email, :class => "form-control", :placeholder => "email", :autofocus => true %>
				<%= f.password_field :password, :class => "form-control", :placeholder => "password" %>

				<%= f.submit "sign in", :class => "btn btn-sm my_nav" %>
				<%= link_to "sign up", new_user_registration_path, :class => "btn btn-sm sign_up" %>
				<%= link_to image_tag("btn-connect-sc-l.png"), user_omniauth_authorize_path(:soundcloud), :class => "soundcloud_image" %>
				<p class="navbar-text other pull-right navbar-link"><%= link_to "looking for the old site?", "/old", :class => "navbar-link" %> <a href="#" style="color: #FFFFFF" class="hide_trigger"><i class="fa fa-chevron-up"></i></a></p>
			</div>
			<% end %>
		<% end %>
	</div>


	<%= yield %>
</body>

</html>
