  <%= analytics_init if Rails.env.production? %>

<!DOCTYPE html>
<html>
<head>
  <title>danceparty911</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "div_animate", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

<style = "text/css">

input[type="email"],
input[type="password"],
input[type="input"],
.uneditable-input {
  margin-top: 3px;
  margin-bottom: 0px !important;
  width: 175px;
  vertical-align: middle;

  /* not sure why but 30px works in production but not in dev */
  height: 30px !important;
}
.form-group {
  height: 0px !important;
  margin: 0px !important;
}
.btn.my_nav {
  margin-top: 3px !important;
  font-family: Helvetica, sans-serif;
  background-color: #FFFFFF;
  *background-color: #FFFFFF;
  border-color: #FFFFFF #FFFFFF #FFFFFF;
  color: #666;de
  letter-spacing: .5px;
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
}

.btn.sign_up {
  margin-top: 3px !important;
  font-family: Helvetica, sans-serif;
  background-color: #FFFFFF;
  *background-color: #FFFFFF;
  border-color: #FFFFFF #FFFFFF #FFFFFF;
  color: #FF3300;
  font-weight: bold;
  letter-spacing: .5px;
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
}

.navbar {
  margin: 0px;
  padding: 0px;
  height: 43px;
  background-color: #FF33cc;
  z-index: -1;
  border-bottom: none;
}

.navbar-brand {
  margin-top: 3px;
  padding: 5px;
}

.navbar-link {
  color: #FFFFFF !important;
}

.navbar-text {
  line-height: 40px !important;
}

.navbar-text.other {
  vertical-align: middle;
}

.soundcloud_image {
  border-width:1px;
  border-color: #FF33cc;
  vertical-align: middle;
}

.menu_trigger {
  opacity: 0.4;
  position: fixed;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 3px;
  padding-right: 3px;
  line-height: 10px;
  background-color: #FF33cc;
  color: #FFFFFF;
  border: 5px solid #FF33cc;
  border-radius: 5px;
  right: -3px;
  top: 11px;
  z-index: 8 !important;
}
.menu_trigger:hover {
  opacity: 1;
}

.menu_trigger a:link,
  a:visited,
  a:hover {
  color:#FFFFFF;
  text-decoration: none;
}

.menu_trigger a:active {
  color:#FFFFFF;
  text-decoration: none;
}


.hide_trigger {
  text-align: right;
  position: relative;
  padding-left: 1px !important;
  color: #FFFFFF;
  display: inline;
  z-index: 11 !important;
}


.message
{
   width: 100%;
   position: fixed;
   _position: absolute;

}

h5 {
  margin: 0px;
  font-weight: normal !important;
  letter-spacing: 1pt;
}

.pull-right{
	margin-right: 5px !important;
}

</style>

</head>

<body>

<div class="menu_trigger">
	<% if user_signed_in? %>
		<h5 id="menu_trigger"><a href="#" class="trigger"><i class="fa fa-chevron-down"></i></a></h5>
	<% else %>
		<h5 id="menu_trigger"><a href="#" class="trigger">login <i class="fa fa-chevron-down"></i></a></h5>
	<% end %>
</div>


	<div class="navbar message">
		<% if user_signed_in? %>
			<div class="form-group">
				<%= link_to(image_tag("911logo548.gif", size: "175", :class => "navbar-brand"), "/") %>
				<% if current_user.username.nil? %>
					<p class="navbar-text pull-right"><%= link_to current_user.email, edit_user_registration_path, :class => "navbar-link" %>
				<% else %>
					<p class="navbar-text pull-right"><%= link_to current_user.username, edit_user_registration_path, :class => "navbar-link" %>
				<% end %>
				<%= link_to "sign out", destroy_user_session_path, :method => :delete, :class => "navbar-link" %>
        <a href="#" style="color: #FFFFFF" class="hide_trigger"><i class="fa fa-chevron-up"></i></a></p>
</p>	
			</div>
		<% else %>
			<%= simple_form_for(resource, :class => "form-signin", :as => resource_name, :url => session_path(resource_name)) do |f| %>
			<div class="form-group">
				<%= link_to(image_tag("911logo548.gif", size: "175", :class => "navbar-brand"), "/") %>
				<%= f.email_field :email, :class => "form-control", :placeholder => "email", :autofocus => true %>
				<%= f.password_field :password, :class => "form-control", :placeholder => "password" %>

				<%= f.submit "sign in", :class => "btn btn-sm my_nav" %>
				<%= link_to "sign up", new_user_registration_path, :class => "btn btn-sm sign_up" %>
				<%= link_to image_tag("btn-connect-sc-l.png"), user_omniauth_authorize_path(:soundcloud), :class => "soundcloud_image" %>
				<p class="navbar-text other pull-right navbar-link"><%= link_to "looking for the old site?", "/old", :class => "navbar-link" %> <a href="#" style="color: #FFFFFF" class="hide_trigger"><i class="fa fa-chevron-up"></i></a></p>
			</div>
			<% end %>
		<% end %>
	</div>


	<%= yield %>
</body>

</html>
