<!DOCTYPE html>

<%= javascript_include_tag "soundmanager2-dj" %>
<%= javascript_include_tag "page-playerDJ" %>
<%= javascript_include_tag "http://code.jquery.com/jquery-latest.min.js" %>
<%= javascript_include_tag "http://code.jquery.com/ui/1.10.3/jquery-ui.js" %>
<%= javascript_include_tag "bootstrap" %>

<script>

$( document ).ajaxStart(function() {
  $( ".log" ).text( "Triggered ajaxStart handler." );
});

$( ".trigger" ).click(function() {
  $( ".result" ).load( "ajax/test.html" );
});

</script>


<div class="trigger btn">Trigger</div>
<div class="result"></div>
<div class="log"></div>
